@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/material.css";

.App {
  font-family: Untitled Sans, sans-serif;
  line-height: 1.4;
  font-size: 1.8rem;
  color: #1a1a19;
  -webkit-font-smoothing: antialiased;
}
